XmlXsd/src/main/java/org/jubot/xsd/sqlFragment_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://www.org.jubot/sqlFragment_schema" 
xmlns="http://www.org.jubot/sqlFragment_schema" 
elementFormDefault="qualified">


<xs:element name="sql-fragments">
<xs:complexType>
	<xs:sequence>
		<xs:element name="sql-fragment" type="sql-fragment" maxOccurs="unbounded"/>
	</xs:sequence>
</xs:complexType>
</xs:element>


<xs:complexType name="sql-fragment">	
	<xs:sequence>		
		<xs:element name="sql-string" type="xs:string"/>
	</xs:sequence>
	<xs:attribute name="sql-name" type="xs:string" use="required"/>
</xs:complexType>


</xs:schema>
